<footer>
  <div class="flex">
    <div class="flex_content text_left_desktop">
      <h3>Kontakt ASKA</h3>
      <p class="address">Vilhelmsborgvej 1, 8320 Mårslet</p>
      <a href="mailto:aska.bestyrelse@gmail.com">aska.bestyrelse@gmail.com</a>
      <script
        id="CookieDeclaration"
        src="https://consent.cookiebot.com/0a939287-828a-44d4-ad1f-44d9a29bae3a/cd.js"
        type="text/javascript"
        async
      ></script>
      <a href="javascript: Cookiebot.renew()">
        <img
          class="cookie"
          src="/images/cookie.svg"
          alt="Cookie svg from www.freepik.com"
        />
      </a>
    </div>
    <div class="flex_content">
      <h3>Følg ASKA på de sociale medier:</h3>
      <div class="some-icons">
        <a href="https://www.instagram.com/islaenderklubben_aska/">
          <span class="iconify" data-icon="brandico:instagram-filled"></span>
        </a>
        <a href="https://www.facebook.com/groups/1389413571362415/">
          <span class="iconify" data-icon="brandico:facebook-rect"></span>
        </a>
      </div>
    </div>
    <div class="flex_content text_right_desktop">
      <h3>Hurtig links</h3>
      <p>
        <a href="./bliv-en-del-af-aska.html">Bliv medlem</a>
      </p>
      <p>
        <a href="./bliv-en-del-af-aska.html">Bliv sponsor</a>
      </p>
      <p>
        <a
          href="https://wondersport.dk/profilshop/aska.html?fbclid=IwAR1_ZgWV__yaSggiRXDUpxJQ_WTyYtMhbWpxqYBJVCeP5nvUFw3OyEjExpU"
          >Bestil klubtøj</a
        >
      </p>
      <p>
        <a href="./admin.html">For administrator</a>
      </p>
    </div>
  </div>
  <div>
    <h6 class="copyright">
      © Copyright 2021 Maja Wennerwald, Camilla Nørgaard & Jesper Krüger. All
      rights reserved.
    </h6>
  </div>
</footer>
